<nav class="ui inverted menu">
    <header class="header item">
        <a href="/"> Startseite </a>
    </header>
    <div class="right menu">
        <a id="home" class="item" href="/home"> schnattern</a>
        <a id="report" class="item" href="/report"> Schwätzer</a>
        <a id="mytimeline" class="item" href="/mytimeline"> Mein Geschwätz</a>
        <a id="settings" class="item" href="/settings"> Einstellungen</a>
        <a id="logout" class="item" href="/logout"> Ausloggen</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>