<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui stacked segment">
        <form action="/message" method="POST">
            <textarea maxlength='140' name='message'></textarea>
          
          <button class="ui blue submit button">Schnatt</button>
        </form>
      </div>
    </div>
    <aside class="six wide column">
      <img src="images/ente.gif" class="ui medium image">
    </aside>
  </div>
</section>