<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="../images/ente.gif" class="ui medium image">
        </aside>
        <article class="eight wide column">



            {{#each schnatts}}
            <table class="ui inverted green table">
                <thead>
                    <tr>
                        <th>{{message}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>

                        </th>
                    </tr>
                </tbody>
            </table>


            {{/each}}


        </article>
    </div>
</section>