<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="../images/ente.gif" class="ui medium image">
        </aside>
        <article class="eight wide column">



            {{#each schnatts}}
            <table class="ui inverted blue-grey table">
                <thead>
                    <tr>
                        <th>{{message}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            {{date}}
                        </th>
                    </tr>
                </tbody>
            </table>


            {{/each}}


        </article>
    </div>
</section>