<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>

<body>
  {{> welcomemenu }}

  <section class="ui stacked segment">
    <div class="ui grid">
      <aside class="six wide column">
        <img src="images/ente.gif" class="ui medium image">
      </aside>
      <article class="ten wide column">
        <header class="ui  header"> Prototyp Schnatter</header>
        <p> Schäm Dich, Schwätzer! </p>
      </article>
    </div>
  </section>
  </section>
</body>

</html>